*{
    margin: 0px;
    padding: 0px;
    text-align: center;
    background-color:aquamarine;
}
h1{
    background-color: rgb(1, 30, 56);
    color: aliceblue;
    height: 5rem;
    text-align: center;
    line-height: 5rem;
}
.choices{
    display: flex;
    justify-content: center ;
    gap: 3rem;
    margin-top: 5rem;
}
.choice {
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.choice:hover{
    cursor: pointer;
    background-color: black;
}
img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}
.score-board{
    display: flex;
    justify-content: center;
    gap: 4rem;
    margin-top: 6rem;
}
#user-score, #bot-score{
    font-size: 4rem;
}
.score-board{
    font-size: 2rem;
}
.msg-container{
    padding: 3rem;
}
.msg{
    margin-top: 4rem;
    background-color: black;
    color: beige;
    font-size: 1.5rem;
    height: 3rem;
    display:inline;
    padding: 1rem;
    border-radius: 1rem;
}